.btn{
    
    top: 15px;
    right: 150px;
    background-color: HSLA(0, 0%, 0%, 0.855)  ;
    border-radius:10px  ;
    border: 2px solid red;
    padding: 3px 16px;
    color: #ffff;
    margin: 7px 0;
    

}
.logo{
    width: 100px;
    height: 6vh;}
.get{
    border-radius: 12px;
    background-color: rgb(215, 54, 116);
    color: #ffff;
    padding:  5px 10px;
    margin:  10px 0;
    font-size: 10px;
}
.head{
    display: flex;
    justify-content: space-between;
    background-color: #0000;
    padding: 20px;
}
.buttonHead{
   display: flex;
   gap:20px; 
}